@font-face {
  font-family: "iconfont"; /* Project id 5136929 */
  src: url('iconfont.woff2?t=1773374105046') format('woff2'),
       url('iconfont.woff?t=1773374105046') format('woff'),
       url('iconfont.ttf?t=1773374105046') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e647";
}

.icon-back:before {
  content: "\e610";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-wuliuxiaocheche:before {
  content: "\e620";
}

.icon-baoguo_o:before {
  content: "\ebb9";
}

.icon-huoche:before {
  content: "\e990";
}

.icon-yunshuzhong:before {
  content: "\e600";
}

.icon-fasongzhi:before {
  content: "\e636";
}

.icon-qujianxinxi:before {
  content: "\e8fb";
}

.icon-fasongzhiditu:before {
  content: "\e61f";
}

.icon-dahuoche:before {
  content: "\e693";
}

.icon-001diandongche:before {
  content: "\e829";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-more-fill:before {
  content: "\e759";
}

